#include <windows.h>
#include "dialog.h"

// see https://learn.microsoft.com/en-us/windows/win32/menurc/resource-definition-statements

ID_DIALOG DIALOG DIALOG_RECT
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DIALOG_STYLE
EXSTYLE DIALOG_EX_STYLE
CAPTION DIALOG_TITLE
FONT DIALOG_FONT_SIZE, DIALOG_FONT
BEGIN
GROUPBOX        DIALOG_GROUPBOX_TITLE,      ID_GROUPBOX,  DIALOG_GROUPBOX_RECT,      DIALOG_GROUPBOX_STYLE
AUTORADIOBUTTON DIALOG_BUTTON_10_TITLE,     ID_BUTTON_10, DIALOG_BUTTON_10_RECT,     DIALOG_BUTTON_10_STYLE
AUTORADIOBUTTON DIALOG_BUTTON_20_TITLE,     ID_BUTTON_20, DIALOG_BUTTON_20_RECT,     DIALOG_BUTTON_20_STYLE
AUTORADIOBUTTON DIALOG_BUTTON_40_TITLE,     ID_BUTTON_40, DIALOG_BUTTON_40_RECT,     DIALOG_BUTTON_40_STYLE
PUSHBUTTON      DIALOG_BUTTON_OK_TITLE,     IDOK,         DIALOG_BUTTON_OK_RECT,     DIALOG_BUTTON_OK_STYLE
PUSHBUTTON      DIALOG_BUTTON_CANCEL_TITLE, IDCANCEL,     DIALOG_BUTTON_CANCEL_RECT, DIALOG_BUTTON_CANCEL_STYLE
END